export PORT=3000
export SERVER_PORT=${PORT}
export DATABASE_TYPE=postgres
export DATABASE_HOST=db
export DATABASE_PORT=5432
export DATABASE_USERNAME=pguser
export DATABASE_PASSWORD=pgpassword
export DATABASE_DBNAME=main
export DATABASE_ADMIN_PORT=8080

export POSTGRES_DB=${DATABASE_DBNAME}
export POSTGRES_USER=${DATABASE_USERNAME}
export POSTGRES_PASSWORD=${DATABASE_PASSWORD}
